<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.model.UserInfoMapper">


	<insert id="join" parameterType="com.moon.model.userInfo">

		insert into userinfo(
		id
		,pw
		,name
		,email
		,address
		,phone
		,company
		)
		values (
		#{id},
		#{pw},
		#{name},
		#{email},
		#{address},
		#{phone},
		#{comNum}
		)


	</insert>
	<insert id="adminJoin" parameterType="com.moon.model.userInfo">

		insert all
		into comp_info( company_id,
		comp_name
		,logo)
		values (
		#{comNum},
		#{company},
		#{comImg} )
		into userinfo( id
		,pw
		,name
		,email
		,address
		,phone
		,company
		,sign_date
		,admin
		)
		values (
		#{id},
		#{pw},
		#{name},
		#{email},
		#{address},
		#{phone},
		#{comNum},
		sysdate,
		#{admin}
		)
		select * from dual

	</insert>
	
	<select id="compList" parameterType="com.moon.model.compInfo"
	resultType="com.moon.model.compInfo">
		select * from comp_info
	</select>
	
	<select id="compsearch" parameterType="string"
	resultType="com.moon.model.compInfo">
		select * from comp_info where COMP_NAME like '%'||#{comp_name}||'%' 
	</select>
	

	 <select id ="login" parameterType = "com.moon.model.login"
	 	resultType="com.moon.model.login">
	 
	 	select * from userinfo a, comp_info b where a.company = b.company_id
		and email=#{email} and PW =#{pw}
	 
	 </select>
</mapper>


