<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.model.UserInfoMapper">


	<insert id="join" parameterType="com.moon.model.userInfo">

		insert into
		userinfo(id,pw,name,email,address,phone,company) values(

		#{id},
		#{pw},
		#{name},
		#{email},
		#{address},
		#{phone},
		#{company}
		)
	</insert>


	<insert id="adminJoin" parameterType="com.moon.model.userInfo">

		insert all
		into comp_info(
						 company_id
						 ,comp_name
						 ,logo
					   )
		values (
				#{comNum},
				#{company},
				#{comImg})
		into userinfo( 
						id
						,pw
						,name
						,email
						,address
						,phone
						,company
						,sign_date
						,admin
					 )
		values (
				#{id},
				#{pw},
				#{name},
				#{email},
				#{address},
				#{phone},
				#{company},
				sysdate,
				'Y'
				)
		select * from dual
		

	</insert>








</mapper>


